
<% @photos.each do |photo| %>
<div class="gallery">
  <a target="_blank">
    <%= image_tag photo.avatar.thumb.url %>
    <div class="desc">
      <% if current_user.try(:admin?) %>
        <%= link_to photo.name, photo_path(photo) %></p>
      <% else %>
        <p><%= photo.name %></p>
      <% end %>
        <p>By:<%= photo.user.name %></p>
      </div>
  </a>
</div>
<% end %>